body {
    background-color: #f3f7f9;
  }
  
  input:focus {
    border-color: #214252 !important;
    box-shadow: 0 0 0 0.2rem rgba(33, 66, 82, 0.25) !important;
  }
  
  button:focus {
    box-shadow: none !important;
  }
  .card {
    border-radius: 10px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .btn {
    background-color: #214252;
    color: white;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #1a343b;
  }
  